.input {
  border: 2px solid #ae7000;
}

.boss-text-enter{
  opacity: 0;
}
.boss-text-enter-active{
  opacity: 1;
  transition: opacity 2000ms;

}
.boss-text-enter-done{
  opacity: 1;
}
.boss-text-exit{
  opacity: 1;
}
.boss-text-exit-active{
  opacity: 0;
  transition: opacity 2000ms;

}
.boss-text-exit-done{
  opacity: 0;
}